<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cse_competition2020">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
         />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
         />
    <uses-feature
        android:name="android.hardware.camera.front"
         />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
         />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="getBetter"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> <!-- 색깔이 검은색으로 바뀜 -->

        <activity android:name=".MainActivity" />
        <activity android:name=".GameResultActivity" />
        <activity android:name=".ChangeActivity" />
        <activity android:name=".record.RecordActivity" />
        <activity android:name=".GameSelectActivity" />
        <activity android:name=".game1.EyeGameSetActivity" />
        <activity
            android:name=".game1.EyeGameStartActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".game2.Game2Activity" />
        <activity android:name=".game2.VoiceGameActivity" />
        <activity android:name=".game3.FaceGameSetActivity" />
        <activity android:name=".game3.FaceGameSelectActivity"/>
        <activity android:name=".game3.FaceGameStartActivity"/>
        <activity android:name=".StartActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>